In [13]:
import requests
import pandas as pd
from config import *

In [14]:
with requests.Session() as session:
    general_response = session.get(general_endpoint).json()
    league_response = session.get(league_endpoint).json()
    fixture_response = session.get(fixture_endpoint).json()

In [16]:
manager_names = pd.DataFrame.from_records(league_response['standings']['results'], columns=['id', 'player_name']).set_index('id'). sort_values("player_name")

                player_name
id
11044918    Alex Wietzorrek
11600435         Cole Floyd
11045904    Connor McDonald
11163290      Devon Hodgson
11595521       Devon Jansen
54837678       Divyam Dixit
11593605     Hethe Brinkman
44640726        Jason Perry
11191718      Liam Smorfitt
11604984      Marco Gouveia
10303098  Niklas Wietzorrek
42326189        Peter Wertz
42389877    Ryan Shackleton